@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*NAV*/
nav{
    display: flex;
    height: 80px;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    background-color: rgb(248, 241, 227);
    position: fixed;
    top: 0;
    z-index: 1;
    
}



.fa-x{
    padding-right: 4px;
}
.hamburger, .logo, .mini-icons{ 
    padding: 1rem 1rem;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.mini-icons a{
    margin: 0px 15px;
    color: #000;
}

.git{
    color: orangered;
}

.linked{
    color: #0A66C2;
}


.hidden-menu{
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    overflow: hidden;
    background: hsla(0, 0%, 100%, .4) ;
    backdrop-filter: blur(1rem);
    width: 0;
    transition: all .5s ease-in;
    z-index: 1;
}

.show{
    width: 40%;
    z-index: 1;
}

.hidden-menu ul{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    list-style-type: none;
}

.hidden-menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-menu ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.3rem;
}

.hidden-menu a:hover, .hamburger:hover, .close:hover{
    color: orangered;
}
/*MAIN */

main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* HOME */

#home{
    padding: 8% 12% 6% 12% ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.home-img{
    width: 250px;
    height: auto;
    border-radius: 30px;
}

.home-text{
    line-height: 1.5rem;
    text-align: center;
}

.home-text p{
    padding: 1rem .3rem;
    text-indent: 2rem;
    text-align: justify;
}

/*ABOUT*/
#about{
    
    padding: 8% 12% 6% 12% ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.about-img{
    width: 350px;
    height: auto;
    border-radius: 30px;
}

.about-text{
    line-height: 1.5rem;
    text-align: center;
}

.about-text h1{
    margin-bottom: 20px;
}

.about-text p{
    padding: 1rem .3rem;
    text-indent: 2rem;
    text-align: justify;
}

/*SKILLS*/

#skills{
    padding: 8% 12% 6% 12% ;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#skills ul{
    list-style-type: none;
}

.skills-head{
    text-align: center;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}

.skills-grid img{
    width: 100px;
    height: auto;
}

.grid-item{
    border: 1px solid gray;
    box-shadow: 0 0 10px 1px rgb(148, 146, 146);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-inline: 20px;
    padding: 15px 0;
    opacity: 0;
}

.grid-item.fade-right{
    animation: fade-right 1s ease forwards;
}

@keyframes fade-right{

    0%{ transform: translateX(600px); opacity: 0;} 
    100%{ transform: translateX(0); opacity: 1;} 

}



/* PORTFOLIO */

.portfolio-head{
    text-align: center;
    margin-bottom: 40px;
}

#portfolio a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#portfolio a:hover{
    color: orangered;
}

.portfolio-grid{
    display: grid;
    row-gap: 6rem;
}

.project{
    text-align: center;
    line-height: 3rem;
    display: grid;  
    padding: 1rem 0;
}

.project-1{
    background-color: #EEE4AB;
}
.project-2{
    background-color: #B4E197;
}
.project-3{
    background-color: #99C4C8;
}

.project-1-img{
    width: auto;
    height:300px;
    border-radius: 30px;
}

.project-3-img{
    width: 300px;
    height:auto;
    border-radius: 30px;
}

.project-image{
    opacity: 0;
}

.project-image.fade-bottom{
    animation: fade-bottom 1s ease forwards;
}

@keyframes fade-bottom {
    
    0%{ transform: translateY(600px); opacity: 0;} 
    100%{ transform: translateY(0); opacity: 1;} 
}


.project-text{
    opacity: 0;
}

.project-text.fade-top{
    animation: fade-top 1s ease forwards;
}

@keyframes fade-top {
    
    0%{ transform: translateY(-600px); opacity: 0;} 
    100%{ transform: translateY(0); opacity: 1;} 
}

/* CONTACT */

#contact{
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label{
    font-weight: 700;
}

input{
    border: none;
    border-bottom: 1px solid #000;
    width: 90%;
}

textarea{
    width: 90%;
    overflow: auto;
    border: none;
    border-bottom: 1px solid #000;
}

input:focus, textarea:focus{
    border-bottom:1px solid orangered;
    outline: none;
}

button{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 0;
    background-color: orangered;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #000;
}
/*FOOTER*/

footer{
    margin-top: 1rem;
    padding: 2rem 0;
    text-align: center;
    
}

footer h1{
    font-size: 4rem;
}

footer p{
    font-size: 1.5rem;
}

footer a{
    float: right;
    margin: 0;
    padding-right: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: orangered;
}


@media (min-width:620px){
    .project-1-img{
        width: auto;
        height:400px;
        border-radius: 30px;
    }

    .project-2-img{
        width: 400px;
        height:auto;
        border-radius: 30px;
    }

    .project-3-img{
        width: 450px;
        height:auto;
        border-radius: 30px;
    }

}


@media (min-width:850px){

    main, footer{
        width: calc(100% - 200px);
        transform: translateX(200px);
        position: relative;
    }

    .hidden-menu{
        width: 200px;
        background-color: rgb(248, 241, 227);
        backdrop-filter: none;
    }

    .hamburger{  
        display: none;
    }

    #home{
        padding: 5% 5% ;
        flex-wrap: nowrap;
    }
    .home-img{
        width: auto;
        height: 300px;
        border-radius: 30px;
        
    }
    
    .home-image{
        align-self: center;
    }

    .home-text, .about-text{
        line-height: 2rem;
        text-align: center;
        align-self: center;
    }
    
    .home-text p,.about p{
        padding: 1rem .3rem;
        text-indent: 2rem;
        text-align: justify;
    }

    .about-img{
        width: 600px;
    }

    .skills-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        text-align: center;
    }

    
}

@media(min-width:1024px){
    .home-img{
        width: auto;
        height: 500px;
        border-radius: 30px;  
    }

    .project{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .project-text{
        align-self: center;
        font-size: 1.6em;
        line-height: 8rem;
    }

    .project-2-image{
        order:-1;
    }

    p{
        font-size: 1.5rem;
    }
}



